.sidebar {
  width: 40%;
  height: 10rem;
  margin: 1rem;
  padding: 10px;
}

.sidebar:hover {
}

button:hover {
  background-color: darkmagenta;
}

.IconSizes {
  height: 90%;
  width: 100%;
}

.IconSizes img {
  height: 5rem;
  width: 5rem;
}

button {
  text-align: center;
  text-justify: auto;
  font-size: 20px;
  text-align: right;
  flex-direction: column;
}
