.output {
  align-items: center;
  /* background-color: lightgrey; */
  border-radius: 1rem;
  height: 15rem;
  margin: 1rem;
  border-style: solid;
  border-color: darkmagenta;
  border-width: 5px;
}

.output-entry {
  border: black;
  border-width: 1px;
}
